@font-face {
    font-family: 'RobotoMono';
    src: url('../fonts/RobotoMono-Thin.ttf');
  }
  
  * {
    font-family: 'RobotoMono', monospace;
  }

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    color: #FFF;
    background: linear-gradient(to right, rgb(19, 106, 138), rgb(38, 120, 113));
}

#app{
  padding: 50px;
  background: #ffffff42;
  border-radius: 50px;
}

input {
    width: 310px;
    font-size: 1em;
    margin-bottom: 30px;
    border-radius: 8px;
    border: transparent;
    padding: 5px 8px;
}

.output {
    margin: auto;
    padding: 15px;
}

.output img {
  width: 330px;
}